{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Add ToDo</title>
{% endblock title %}

{% block content %}
 <div class='row col-md-8 col-md-push-2'>
<div class='col-md-10 clo-md-push-2'>
<form method='post' class="col-md-8 col-xs-8 col-xs-push-2" >
{% csrf_token %}
<h3 class="text-align-centre">Add ToDo List</h3>
{{form|crispy}}
<div class="col-md-6 col-md-push-4 col-xs-6 col-xs-push-4" >
<button type="submit" class="btn btn-primary">Add</button>
</div>
<form>
</div>
</div>
{% endblock content %}